{%extends '::adminbase.html.twig'%}
{%block container%}
<div id="page-heading"><h1>Edit product</h1></div>

{%if message == 'red'%}
<div id="message-red">
    <table border="0" width="100%" cellpadding="0" cellspacing="0">
        <tr>
            <td class="red-left">Error. <a href="">Please try again.</a></td>
            <td class="red-right"><a class="close-red"><img src="/images/table/icon_close_red.gif" alt="" /></a></td>
        </tr>
    </table>
</div>

{%endif%} 

{%if message == 'green'%}
<div id="message-green">
    <table border="0" width="100%" cellpadding="0" cellspacing="0">
        <tr>
            <td class="green-left">Product updated succesfully ! <a href="">Add new one.</a></td>
            <td class="green-right"><a class="close-green"><img src="/images/table/icon_close_green.gif"   alt="" /></a></td>
        </tr>
    </table>
</div>
{%endif%}
<table border="0" width="100%" cellpadding="0" cellspacing="0" id="content-table">
    <tr>
        <th rowspan="3" class="sized"><img src="/images/shared/side_shadowleft.jpg" width="20" height="300" alt="" /></th>
        <th class="topleft"></th>
        <td id="tbl-border-top">&nbsp;</td>
        <th class="topright"></th>
        <th rowspan="3" class="sized"><img src="/images/shared/side_shadowright.jpg" width="20" height="300" alt="" /></th>
    </tr>
    <tr>
        <td id="tbl-border-left"></td>
        <td>

            <div id="content-table-inner" style="margin-left:20%">

                <table border="0" width="100%" cellpadding="0" cellspacing="0">
                    <tr valign="top">
                        <td>
                            <!-- start id-form -->
                            <form action="{{path('shop_shop_editproduct',{'id': id})}}" {{ form_enctype(form) }} method="post"> 

                                <table border="0" cellpadding="0" cellspacing="0"  id="id-form">

                                    <tr>
                                        <th valign="top">Product name:</th>

                                        <td>{{ form_widget(form.title) }} </td>

                                        <td>
                                            <div class="error-left"></div>
                                            <div class="error-inner"></div>
                                        </td>

                                    </tr>
                                    <tr>
                                        <th valign="top">Category:</th>
                                        <td> {{ form_widget(form.category_id) }} </td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <th valign="top">Short description:</th>
                                        <td> {{ form_widget(form.short_description) }} </td>

                                        <td>
                                            <div class="error-left"></div>
                                            <div class="error-inner"></div>
                                        </td>


                                    </tr> 
                                    <tr>
                                        <th valign="top">Price:</th>
                                        <td> {{ form_widget(form.price) }} </td>

                                        <td>
                                            <div class="error-left"></div>
                                            <div class="error-inner"></div>
                                        </td>

                                    </tr>

                                    <tr>
                                        <th>Image:</th>
                                        <td>{{ form_widget(form.filename) }}</td>
                                        <td>
                                            <div class="bubble-left"></div>
                                            <div class="bubble-inner">JPEG, GIF 5MB max per image</div>
                                            <div class="bubble-right"></div>
                                        </td>

                                        <td>
                                            <div class="error-left"></div>
                                            <div class="error-inner"></div>
                                        </td>

                                    </tr>

                                    <tr>
                                        <th valign="top">Description:</th>
                                        <td> {{ form_widget(form.description) }} </td>

                                        <td>
                                            <div class="error-left"></div>
                                            <div class="error-inner"></div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th valign="top">Stock:</th>
                                        <td> {{ form_widget(form.stock) }} </td>

                                        <td>
                                            <div class="error-left"></div>
                                            <div class="error-inner"></div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>&nbsp;</th>
                                        <td valign="top">
                                            {{ form_widget(form.submit) }}
                                                <input type="submit" value="{{path('shop_shop_editproduct',{'id':id})}}" class="form-reset"  />
                                            </td>
                                            <td></td>
                                        </tr>
                                    </table>
                                </form>
                                <!-- end id-form  -->

                            </td>

                        </tr>
                        <tr>

                            <td></td>
                        </tr>
                    </table>

                    <div class="clear"></div>


                </div>
                <!--  end content-table-inner  -->
            </td>
            <td id="tbl-border-right"></td>
        </tr>
        <tr>
            <th class="sized bottomleft"></th>
            <td id="tbl-border-bottom">&nbsp;</td>
            <th class="sized bottomright"></th>
        </tr>
    </table>

    <div class="clear">&nbsp;</div>

{%endblock%}